@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Josefin Sans', 'Segoe UI', 'Roboto', sans-serif;
  background-color: #0F172A;
  color: white
}